
.comment  {
  color: red;
  background-color: white;
  border: 3px dashed;
  position: relative;
  display: block;
  height: 150px
  

};

.title  {
  color: red;
  background-color: blue;
  border-style: double;
};


