.comment  {
  color: red;
  background-color: white;
  border-style: double;
  position: relative;
  

};

.Answer {
  position: relative;
  font-size: 100px;
  text-align: center;
  color: purple;
  bottom: 50px;
};

.post {
  border-style: double;
  color: red;
  background-color: blue;
};

.tom-test {
  color: red;
  background-color: blue;
  border-style: double;
}
.test  {
  color: red;
  background-color: blue;
  border-style: double;
};

.again {
  color: red;
  background-color: blue;
  border-style: double;
};

