.Form1 {
    border: 2px solid;
    font-size: 30px;
}


/* .grid-container{
    display: grid;
    grid-template-columns: 200px 250px;
    grid-template-rows: minmax(150px auto);
    grid-gap: 20px;
    grid-template-areas:
    "header header"
    "sidebar sidebar"
    "sidebar sidebar"
}

.grid-item-1{
    grid-area: header;
    background-color: blue;
}

.grid-item-2{
    grid-area: sidebar;
    background-color: blue;
}

.grid-item-3{
    grid-area: sidebar;
    background-color: blue;
}

.grid-item-4{
    grid-area: sidebar;
    background-color: blue;
} */